USE [master]
GO
/****** Object:  Database [PF_ArgTeam]    Script Date: 22/11/2023 13:29:57 ******/
CREATE DATABASE [PF_ArgTeam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PF_ArgTeam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PF_ArgTeam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PF_ArgTeam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PF_ArgTeam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PF_ArgTeam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PF_ArgTeam]
GO
/****** Object:  User [argteam]    Script Date: 22/11/2023 13:29:57 ******/
CREATE USER [argteam] FOR LOGIN [argteam] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 22/11/2023 13:29:57 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [argteam]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[nombreContactoReferencia] [nchar](50) NULL,
	[apellidoContactoReferencia] [nchar](50) NULL,
	[celularContactoReferencia] [int] NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[lugar] [varchar](50) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
	[descripcion] [nchar](500) NULL,
	[hospedaje] [nchar](100) NULL,
	[gastronomia] [nchar](100) NULL,
	[numEdicionEvento] [int] NULL,
	[sponsors] [nchar](500) NULL,
	[hayParticipantesLibres] [bit] NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscriptos_X_EventoEquipos]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscriptos_X_EventoEquipos](
	[fkIdEquipo] [int] NOT NULL,
	[fkIdEvento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscriptos_X_EventoLibre]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscriptos_X_EventoLibre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fkIdInscripto] [int] NOT NULL,
	[fkEvento] [int] NOT NULL,
 CONSTRAINT [PK_Proveedor_X_Evento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Inscripto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona_X_Equipo]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona_X_Equipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](50) NULL,
	[apellido] [nchar](50) NULL,
	[DNI] [int] NULL,
	[fkIdEquipo] [int] NOT NULL,
 CONSTRAINT [PK_Persona_X_Equipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesional_X_Evento]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesional_X_Evento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fkProfesional] [int] NOT NULL,
	[fkEvento] [int] NOT NULL,
	[sueldo] [int] NULL,
 CONSTRAINT [PK_Profesional_X_Evento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesionales]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesionales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[celular] [int] NOT NULL,
 CONSTRAINT [PK_Profesional] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/11/2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipo] ON 

INSERT [dbo].[Equipo] ([ID], [nombre], [nombreContactoReferencia], [apellidoContactoReferencia], [celularContactoReferencia]) VALUES (9, N'CateringPop', N'ni                                                ', N'mulan                                             ', 1125445523)
INSERT [dbo].[Equipo] ([ID], [nombre], [nombreContactoReferencia], [apellidoContactoReferencia], [celularContactoReferencia]) VALUES (12, N'adudas', N'po                                                ', N'luaz                                              ', 1120020033)
INSERT [dbo].[Equipo] ([ID], [nombre], [nombreContactoReferencia], [apellidoContactoReferencia], [celularContactoReferencia]) VALUES (13, N'mac', N'lola                                              ', N'sanch                                             ', 1136363232)
SET IDENTITY_INSERT [dbo].[Equipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
INSERT [dbo].[Inscriptos_X_EventoEquipos] ([fkIdEquipo], [fkIdEvento]) VALUES (9, 4)
INSERT [dbo].[Inscriptos_X_EventoEquipos] ([fkIdEquipo], [fkIdEvento]) VALUES (12, 4)
GO
SET IDENTITY_INSERT [dbo].[Inscriptos_X_EventoLibre] ON 

INSERT [dbo].[Inscriptos_X_EventoLibre] ([ID], [fkIdInscripto], [fkEvento]) VALUES (1, 1, 1)
INSERT [dbo].[Inscriptos_X_EventoLibre] ([ID], [fkIdInscripto], [fkEvento]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[Inscriptos_X_EventoLibre] OFF
GO
SET IDENTITY_INSERT [dbo].[Participante] ON 

INSERT [dbo].[Participante] ([ID], [nombre], [apellido], [DNI]) VALUES (1, N'mijal', N'averbuch', N'44444444')
INSERT [dbo].[Participante] ([ID], [nombre], [apellido], [DNI]) VALUES (2, N'micaela ', N'nowak', N'47777777')
INSERT [dbo].[Participante] ([ID], [nombre], [apellido], [DNI]) VALUES (3, N'sofia', N'salom', N'99999999')
SET IDENTITY_INSERT [dbo].[Participante] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona_X_Equipo] ON 

INSERT [dbo].[Persona_X_Equipo] ([id], [nombre], [apellido], [DNI], [fkIdEquipo]) VALUES (1, N'mi                                                ', N'av                                                ', 45454554, 9)
INSERT [dbo].[Persona_X_Equipo] ([id], [nombre], [apellido], [DNI], [fkIdEquipo]) VALUES (2, N'mic                                               ', N'no                                                ', 44444444, 9)
INSERT [dbo].[Persona_X_Equipo] ([id], [nombre], [apellido], [DNI], [fkIdEquipo]) VALUES (3, N'flo                                               ', N'ma                                                ', 47744774, 9)
SET IDENTITY_INSERT [dbo].[Persona_X_Equipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesional_X_Evento] ON 

INSERT [dbo].[Profesional_X_Evento] ([ID], [fkProfesional], [fkEvento], [sueldo]) VALUES (3, 1, 1, 50000)
INSERT [dbo].[Profesional_X_Evento] ([ID], [fkProfesional], [fkEvento], [sueldo]) VALUES (4, 1, 2, 30000)
INSERT [dbo].[Profesional_X_Evento] ([ID], [fkProfesional], [fkEvento], [sueldo]) VALUES (5, 2, 1, 20000)
SET IDENTITY_INSERT [dbo].[Profesional_X_Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesionales] ON 

INSERT [dbo].[Profesionales] ([ID], [nombre], [apellido], [mail], [rol], [celular]) VALUES (1, N'Juana', N'Morales', N'juanimorales@yahoo.com.ar', N'Profesora', 1123456789)
INSERT [dbo].[Profesionales] ([ID], [nombre], [apellido], [mail], [rol], [celular]) VALUES (2, N'Marcelo', N'Lopez', N'marce2001@gmail.com', N'Comunity Manager', 1178342986)
INSERT [dbo].[Profesionales] ([ID], [nombre], [apellido], [mail], [rol], [celular]) VALUES (3, N'María José', N'Piña', N'majopiña', N'Profesora', 1124379845)
SET IDENTITY_INSERT [dbo].[Profesionales] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [username], [password], [mail]) VALUES (1, N'mica', N'mica12', N'mica@gmail.com')
INSERT [dbo].[Usuario] ([ID], [username], [password], [mail]) VALUES (2, N'miji', N'miji23', N'miji@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
